/*need to add js password comparison validation*/
@font-face {
    font-family: Norse Bold;
    src: url(./Norse-Bold.otf);
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
}

.right-side {
    flex: 1;
    width: 50vw;
    font-family: 'Bitter', serif;
}

.logo {
    background-color: rgba(0,0,0,.4);
    display: flex;
    justify-content: center;
    max-height: 20%;
    width: 100%;
    position: absolute;
    top: 10%;
}

.logo > img {
    height: 10%;
    width: 10%;
    margin: 10px;
}

.image-section {
    max-width: 40vw;
    height: 100vh;
    position: relative;
}

.image-section > img {
    max-width: 40vw;
    height: 100vh;
}

h1 {
    font-size: 4rem;
    margin: 0;
    margin-left: 10px;
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Norse Bold', Helvetica, sans-serif;
}

.image-attribution {
    color: white;
    position: absolute;
    bottom: 3%;
    left: 5vw;

}

.image-attribution > a {
    color: white;
}

.main-section {
    box-shadow: 0 8px 6px -6px lightgray;
    padding: 10% 10% 5% 5%;
}

.main-text > p {
    font-weight: bold;
    max-width: 60%;
}

.main-text > p:last-child {
    margin-top: 75px;
}

em {
    margin-right: .2rem;
}

form {
    display:flex;
}

.group1, .group2 {
    flex: 1
}

.group1 {
    margin-right: 10px;
}

label {
    text-transform: uppercase;
    font-family: Helvetica, sans-serif;
    font-size: .75rem;
    font-weight: bold;
    margin-bottom: 20px;
}

input {
    min-height: 25px;
    max-width: 70%;
}

input {
    border: 1pt solid lightgray;
    border-radius: 5px;
}

input:focus {
    outline: none;
    border-color: rgba(38, 38, 252, 0.404);
    border-width: 2px;
    box-shadow: 1px 1px 2px 2px lightgray;
}

input:not(:placeholder-shown):invalid {
    border: none;
    outline: 1px solid red;
    border-radius: 5px;
    box-shadow: none;
}

input:required:valid {
    background-color: lightgreen;
    color:#596D48;
    border: none;
    outline: 1px solid #596D48;
    border-radius: 5px;
    box-shadow: none;
}

label, input {
    display: flex;
    flex-direction: column;
}

/*.main-section {
    flex: 0 0 100%;
}*/

.footer-section {
    flex-wrap: wrap;
    padding: 5%;
}

button {
    color: white;
    background-color: #596D48;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: .9rem;
    border-style: none;
    box-shadow: 2px 2px 3px 3px whitesmoke;
    margin-bottom: 25px;
}

.footer-section > p {
    font-family: Helvetica, sans-serif;
    font-size: .8rem;
}

.footer-section > p > a {
    color: #596D48;
    text-decoration: none;
    font-weight: bolder;
    font-size: .95rem;
    font-family: sans-serif;
}